<div class="proposals-loading" style="width:100%;text-align:center">
  {{d-icon "circle"}}
  {{d-icon "circle"}}
  {{d-icon "circle"}}
  {{#if message.length}}
    <p>
      {{message}}
    </p>
  {{/if}}
</div>
