<div class="karma-loading" style="width:100%;text-align:center;margin-top:2em">
  {{d-icon "circle"}}
  {{d-icon "circle"}}
  {{d-icon "circle"}}
  {{#if message.length}}
    <p>
      {{message}}
    </p>
  {{/if}}
</div>
