{{#if values.length}}
  {{#each values as |value|}}
    <div
      class="breakdown against"
      style={{
        html-safe (concat "width:" value.pct ";background-color:" value.color)
      }}
    >
      {{karma-tooltip label=value.name}}
      <b>
        {{value.shortname}}
      </b>
      {{value.count}}
    </div>
  {{/each}}
{{/if}}
