{{#if values.length}}
  {{#each values as |value|}}
    <div
      class="breakdown against"
      style={{
        html-safe (concat "width:" value.pct ";background-color:" value.color)
      }}
    >
      {{karma-tooltip label=value.name}}
      <div style="max-height:100%;overflow:hidden">
        <b>
          {{value.shortname}}
        </b>
        {{value.count}} votes
      </div>
    </div>
  {{/each}}
{{/if}}
