<div id="__karma-stats" style="display: none;">
    <b>Delegated Votes:</b> <span id="delegated-votes"></span><br/>
    <b>Dao Exp:</b> <span id="dao-exp"></span><br/>
    <b>Snapshot Voting Stats:</b> <span id="snapshot-voting-stats"></span><br/>
    <b>On Chain Voting Stats:</b> <span id="on-chain-voting-stats"></span><br/>
</div>
