<input hidden id="__dao-name" readonly  value={{siteSettings.karma_score_dao_name}} />
<input hidden id="__dao-username" readonly  value={{this.user.username}} />
<div id="__karma-stats" style="display: none;">
    <b>Delegated Votes:</b> <span id="delegated-votes"></span><br/>
    <b>Dao Exp:</b> <span id="dao-exp"></span><br/>
    <b>Snapshot Voting Stats:</b> <span id="snapshot-voting-stats"></span><br/>
    <b>On Chain Voting Stats:</b> <span id="on-chain-voting-stats"></span><br/>
</div>
