{{#if siteSettings.Enable_Karma_plugin}}
  <div class="__karma-stats">
    <input hidden id="__dao-name" readonly value={{siteSettings.DAO_name}}>
    <input hidden id="__dao-username" readonly value={{this.user.username}}>
    <div class="__wrapper">
      <div style="display:flex;align-items:center;margin:10px 0;">
        <a
          alt="Show Karma App"
          href="https://showkarma.xyz"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="https://www.showkarma.xyz/icons/karma-logo.svg"
            height="28"
            width="28"
          />
        </a>
        <b>Governance Stats</b>
      </div>
      {{#if siteSettings.Show_Karma_score}}
        <b>Karma score:</b>
        <span id="__dao-exp">0</span><br>
      {{/if}}
      {{#if siteSettings.Show_health_score}}
        <b>Health score:</b>
        <span id="__health-score">0</span><br>
      {{/if}}
      {{#if siteSettings.Show_delegated_votes}}
        <b>Delegated votes:</b>
        <span id="__delegated-votes">0</span><br>
      {{/if}}
      {{#if siteSettings.Show_snapshot_votes}}
        <b>Snapshot voting:</b>
        <span id="__snapshot-voting-stats">0%</span><br>
      {{/if}}
      {{#if siteSettings.Show_on_chain_votes}}
        <b>On-chain voting:</b>
        <span id="__on-chain-voting-stats">0%</span><br>
      {{/if}}
    </div>
  </div>
{{/if}}
