$breakpoint-sm: 550px !default;
$breakpoint-md: 932px !default;
$breakpoint-xs: 348px !default;
/* Theme colors */
$color-success: var(--success) !default;
$color-success-alpha-1: rgba($color-success, 0.15) !default;

$color-danger: var(--danger) !default;
$color-danger-alpha-1: rgba($color-danger, 0.15) !default;

$color-info: var(--tertiary) !default;
$color-info-alpha-1: rgba($color-info, 0.15) !default;

// $color-warn: ;
$color-gray: var(--primary-low) !default;
$color-gray-alpha-1: rgba($color-gray, 0.15) !default;

$color-primary: var(--primary);
$color-primary-low: var(--primary-low);
$color-primary-mid: var(--primary-medium);
$color-primary-high: var(--primary-very-high);
$color-secondary: var(--secondary);
$color-tertiary: var(--tertiary);
$color-quaternary: var(--quaternary);

/* Black alphas */
$color-black-alpha-0: rgba(0, 0, 0, 0.03) !default;
$color-black-alpha-1: rgba(0, 0, 0, 0.125) !default;
$color-black-alpha-2: rgba(0, 0, 0, 0.3) !default;

$color-brand-gray-1: var(--header_primary-medium);

$color-brand-blue-0: $color-gray;
$color-brand-blue-1: $color-info;
$color-brand-blue-alpha-1: $color-info-alpha-1;

$border-radius-sm: 5px;
$border-radius-md: 8px;
$border-radius-xl: 12px;

$box-shadow-1: $color-black-alpha-0 0px 2px 12px;
