$breakpoint-sm: 550px !default;
$breakpoint-md: 932px !default;
$breakpoint-xs: 348px !default;
$color-black-alpha-1: rgba(0, 0, 0, 0.125) !default;
$color-black-alpha-2: rgba(0, 0, 0, 0.3) !default;
$color-brand-gray-0: #fafafc;
$color-brand-gray-1: #e9e9e9;
$color-brand-gray-2: #6c7b8b;
$color-brand-blue-1: #536cef;

.below-site-header-outlet.banner-connector {
  .__banner-link-banner-wrapper {
    background-color: "white";
    background-position: center center;
  }

  .__banner-wrapper {
    padding: 1.5em 3em 2em;
    margin: 2.5em auto;
    background-color: $color-brand-gray-0;
    border: 1px solid $color-brand-gray-1;
    border-radius: 8px;
    .__banner-content-wrapper {
      margin: 0 auto 2em;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      padding: 0 0 0 15px;
      width: 100%;

      .featured-banner-link {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 8px;
        > div {
          a {
            border-radius: 8px;
            border: 1px solid $color-brand-blue-1;
            padding: 5px 20px;
            .d-icon {
              color: $color-brand-blue-1;
              margin: 0 !important;
            }
            span {
              margin-left: 10px;
            }
            display: flex;
            justify-content: space-around;
            align-items: center;
          }
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            display: block;
            font-size: 1.75em;
            margin: 0 auto 0.25em auto;
            color: rgba(0, 0, 0, 0.55);
          }

          a {
            .d-icon {
              margin-bottom: 0.35em;
            }
          }

          h3 {
            font-weight: normal;
            white-space: nowrap;
            text-align: center;
            line-height: 1.2;
            margin: 0;
          }
        }
      }
    }

    .banner-body {
      display: flex;
      @media screen and (max-width: $breakpoint-md) {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        .active-proposals-wrapper {
          width: 100% !important;
          order: 2;
        }
        .reveal-more-button {
          width: 170px;
          margin: 0;
        }
      }
    }

    .active-proposals-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      transition: ease-in-out 300ms;
      overflow-y: hidden;
      width: calc(100% - 170px);
      &:not(.opened) {
        overflow-y: hidden;
      }
      > .ember-view {
        word-wrap: break-word;
        word-break: break-word;
        width: 100%;
        overflow-y: hidden;
        .btn-link {
          margin-left: 5px;
          border: 0px;
        }
        &:hover {
          .redirect-text {
            visibility: visible !important;
          }
          background-color: rgba(0, 0, 0, 0.05);
        }
        &:not(:last-of-type) {
          border-bottom: 1px solid $color-black-alpha-1;
        }
        .proposal {
          padding: 1.5rem 1rem;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          user-select: none;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          &-title {
            width: 100%;
            font-weight: 600;
          }
          &-description {
            width: 100%;
          }
          &-due-date {
            margin-top: 1em;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            font-size: 1em;
            color: rgba(0, 0, 0, 0.35);
            .redirect-text {
              visibility: hidden;
              margin-left: 1ch;
            }
          }
        }
      }
    }

    .reveal-more-button {
      margin: 35px 0 0 25px;
      padding: 0 20px;
      position: relative;
      display: flex;
      align-items: center;
      text-align: center;
      cursor: pointer;
      border: none;
      background: none;
      border: 2px solid $color-brand-gray-2;
      border-radius: 20px;
      svg {
        transform: rotateZ(180deg);
      }
      height: fit-content;
      &:not(.opened) svg {
        transform: rotateZ(0);
      }
      svg {
        transition: ease-in-out 200ms;
        padding: 10px;
      }
      .available-to-show {
        font-size: 0.8em;
        width: 70px;
        color: $color-brand-gray-2;
      }
    }

    h2 {
      font-size: 1.75em;
      line-height: 1.2;
    }

    .links-wrapper {
      width: 50%;
    }

    .__banner-content {
      width: 50%;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        margin-bottom: 0;
      }
    }

    @media screen and (max-width: $breakpoint-md) {
      flex-wrap: wrap;

      .__banner-content {
        max-width: unset;
        text-align: center;
        padding-bottom: 1em;
        width: 100%;
      }

      .links-wrapper {
        width: 100%;
        .featured-banner-link {
          width: 100%;
          padding: 0 0 2em;
          justify-content: center;
        }
      }
    }

    @media screen and (max-width: $breakpoint-sm) {
      padding: 1em;

      .featured-banner-link {
        padding: 0 !important;
        flex-wrap: wrap;
        > div {
          width: 100%;
          padding: 0.7em 0;
          height: max-content !important;
          span {
            font-size: small;
          }
          svg {
            font-size: 1.5em !important;
          }
        }
      }
    }

    @media screen and (max-width: $breakpoint-xs) {
      .featured-banner-link {
        > div {
          a {
            width: 60%;
            justify-content: center !important;
          }
          width: 100% !important;
        }
      }
    }
  }
}

.t-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
