$breakpoint-sm: 550px !default;
$breakpoint-md: 932px !default;
$breakpoint-xs: 348px !default;
$color-black-alpha-1: rgba(0, 0, 0, 0.125) !default;
$color-black-alpha-2: rgba(0, 0, 0, 0.3) !default;

.karma-form-submitted-message {
  padding: 0 2em;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.3em;
}
button.k-btn {
  &:not(.btn-transparent) {
    box-shadow: 0 0 0.2em $color-black-alpha-1;
  }
  transition: 200ms ease-in-out;
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 5px;
  color: white;

  &.btn-danger {
    background-color: var(--danger);
  }
  &.btn-success {
    background-color: var(--success);
  }
  &.btn-info {
    background-color: var(--tertiary);
  }
  &.btn-transparent {
    background-color: transparent;
    color: #555865;
    font-weight: 600;
  }

  &.btn-link {
    background-color: transparent;
    color: var(--tertiary);
    box-shadow: none;
    text-decoration: underline;
    padding: 10px;
  }

  &:hover {
    filter: brightness(0.9);
  }
  &:active {
    filter: brightness(0.8);
  }
}

.__karma-vote-form-modal {
  max-height: calc(100vh - 60px);
  transition: 200ms ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  .backdrop {
    background-color: $color-black-alpha-1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .modal-content {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    border-radius: 8px;
    border: 1px solid $color-black-alpha-2;
    box-shadow: 0 0 1em $color-black-alpha-1;
    max-width: 500px;
    @media screen and(min-width: $breakpoint-sm) {
      width: 100%;
    }

    @media screen and(max-width: $breakpoint-sm) {
      min-width: 340px;
    }
    padding: 2em 1.5em;
    .k-input {
      padding: 15px 10px;
      width: 100%;
      border-radius: 8px;
      border: 1px solid $color-black-alpha-2;
    }
    .modal-header {
      font-size: 1.5em;
      font-weight: 600;
      padding: 0;
      margin-top: 0;
      margin-bottom: 2em;
      border: none;
    }
    .form-reason {
      .editor-large {
        .d-editor-container {
          height: 350px;
        }
      }
      .interests {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }
      .d-editor-container {
        height: 150px;
        .d-editor-textarea-wrapper {
          border: 1px solid $color-black-alpha-2;
          border-radius: 8px;
          .d-editor-button-bar {
            border: none;
          }
          .d-editor-input {
            border: none;
            border-top: 1px solid $color-black-alpha-2;
            border-radius: 0;
          }
        }
      }
      .d-editor-preview-wrapper {
        display: none;
      }
    }
    .footer {
      text-align: right;
      width: 100%;
      padding-top: 1em;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }
}
